In [55]:
import numpy as np
import tables as tb
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

In [56]:
filename = "./" +'tab.h5'

In [57]:
filename

'./tab.h5'

In [58]:
h5 = tb.open_file(filename,'w')

In [59]:
h5

File(filename=./tab.h5, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''

In [60]:
rows = 2000000

In [61]:
row_des = {
'Date': tb.StringCol(26,pos=1) ,
'No1': tb.IntCol(pos=2) ,
'No2': tb.IntCol(pos=3) ,
'No3': tb.Float64Col(pos=4) ,
'No4': tb.Float64Col(pos=5)
}

In [62]:
filters = tb.Filters(complevel=0)

In [63]:
tab = h5.create_table('/','ints_floats',row_des,title='Integers and Floats',expectedrows = rows,filters = filters)

In [64]:
tab

/ints_floats (Table(0,)) 'Integers and Floats'
  description := {
  "Date": StringCol(itemsize=26, shape=(), dflt=b'', pos=0),
  "No1": Int32Col(shape=(), dflt=0, pos=1),
  "No2": Int32Col(shape=(), dflt=0, pos=2),
  "No3": Float64Col(shape=(), dflt=0.0, pos=3),
  "No4": Float64Col(shape=(), dflt=0.0, pos=4)}
  byteorder := 'little'
  chunkshape := (2621,)

In [65]:
pointer =tab.row

In [66]:
pointer

/ints_floats.row (Row), pointing to row #0

In [67]:
ran_int = np.random.randint(0,1000,size=(rows,2))

In [68]:
rows

2000000

In [69]:
ran_flo = np.random.standard_normal((rows,2)).round(5)

In [70]:
ran_flo

array([[ 1.46211,  0.03134],
       [ 0.91099, -1.75793],
       [ 2.06065,  1.77214],
       ...,
       [-0.77834, -0.72038],
       [-0.7273 , -0.37235],
       [ 0.90192, -0.24386]])

In [73]:
%%time
for i in range(rows):
    pointer['Date'] = dt.datetime.now()
    pointer['No1'] = ran_int[i, 0]
    pointer['No2'] = ran_int[i, 1]
    pointer['No3'] = ran_flo[i, 0]
    pointer['No4'] = ran_flo[i, 1]
    pointer.append()
    # this appends the data and
    # moves the pointer one row forward
tab.flush()

Wall time: 7.07 s

In [74]:
tab

/ints_floats (Table(4000000,)) 'Integers and Floats'
  description := {
  "Date": StringCol(itemsize=26, shape=(), dflt=b'', pos=0),
  "No1": Int32Col(shape=(), dflt=0, pos=1),
  "No2": Int32Col(shape=(), dflt=0, pos=2),
  "No3": Float64Col(shape=(), dflt=0.0, pos=3),
  "No4": Float64Col(shape=(), dflt=0.0, pos=4)}
  byteorder := 'little'
  chunkshape := (2621,)

In [77]:
#172

SyntaxError: invalid syntax (<ipython-input-77-fc4565a51db7>, line 1)